- title @article.title
= render :partial => "articles/listing/article",  :locals => {:article => @article}
= cache [@article, :comments] do
  %h2 Комментарии
  = render :partial => "comments/listing/comments", :locals => {:comments => @article.comments}
= render :partial => "comments/form", :locals => {:comment => @comment, :article => @article}