- title @article.title
= render :partial => "articles/listing/article",  :locals => {:article => @article}
= cache [@article, :comments] do
  %h2 Комментарии
  = render :partial => "comments/listing/comments", :locals => {:comments => @article.comments}
- if Comment.creatable_by?(current_person)
  = render :partial => "comments/form", :locals => {:comment => Comment.new, :article => @article}
- else
  .comments_form
    К сожалению, только зарегистрированные пользователи могут оставлять комментарии.