@import _shared
$static: "/images"

html
  background-image: url("#{$static}/header_3.jpg")
#header
/*  .game-picker
    .arrow.left
      background: url("#{$static}/game_picker_arrow_left_green.png")
    .arrow.right
      background: url("#{$static}/game_picker_arrow_right_green.png")
    .games
      background: url("#{$static}/bg_transparent_2.png")
      border-color: #1aff8e - #888
      ul
        li
          a
            color: #1a8eff + #555*/

#content
  .article
    .header
      .date
        background-color: #1a8eff * 0.25
        background: transparent
        border: 1px solid #1f3034/*#1a8eff * 0.25 + #050505*/
        margin-top: -16px
        margin-right: 0px
  .separator
    width: 495px

#right
  .tags
    display: none