- if !logged_in?
  .item.login
    %a.interactive{:href => signin_url} Вход
    или
    %a.interactive{:href => signup_url} регистрация
- else
  .item.greeting
    = current_person.greet
    %p
      = link_to "Выйти", session_path, :method => :delete, :confirm => "Уверены?"