#login
  - if !logged_in?
    %a.interactive{:href => signin_url} Вход
    или
    %a.interactive{:href => signup_url} регистрация
  - else
    = current_person.greet
    %p
      = link_to "Выйти", session_path, :method => :delete, :confirm => "Уверены?"