= cache [:widget, :recent_articles], :expires_in => 10.seconds do
  .item.articles
    %h4 Свежие статьи
    - Article.recent.each do |article|
      .article
        %div{:class => "icon #{article.icon}"}
        %a{:href => article_path(article)} #{article.title}
        %p #{article.extract}
    .clear